@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background: 248 250 180;
  --color-foreground: 34 40 49;
  --color-surface: 254 226 173;
  --color-surface-2: 255 199 167;
  --color-border: 255 199 167;
  --color-muted: 255 199 167;
  --color-primary: 240 135 135;
  --color-primary-foreground: 34 40 49;
  --color-accent: 255 199 167;
  --color-accent-foreground: 34 40 49;
  --color-ring: 240 135 135;
}

.dark {
  --color-background: 34 40 49;
  --color-foreground: 223 208 184;
  --color-surface: 57 62 70;
  --color-surface-2: 148 137 121;
  --color-border: 148 137 121;
  --color-muted: 148 137 121;
  --color-primary: 223 208 184;
  --color-primary-foreground: 34 40 49;
  --color-accent: 148 137 121;
  --color-accent-foreground: 34 40 49;
  --color-ring: 223 208 184;
}

body {
  @apply bg-background text-foreground;
}
